


<div class="container">
	<div class="page-title">
		<h1>Gapable URL Shortener</h1>
	</div>
	<div class="page-form">
		<%=form_for(Url.new, url: root_path, html: { method: :post }) do |f|%>
		 <%= f.text_field :original_url, placeholder: 'Enter Url Here', class: 'form-group', id: 'url-input'%><br/>
		 <%= f.submit "Generate URL", class: 'form-group', id: 'url-generate'%>
		<% end %>
	</div>
</div>


<script>
$(document).click(function() {
    $('.alert').hide();
});
</script>