
<div class="container">
	<div class="page-title">
		<h1>Gapable URL Shortener</h1>
	</div>
	<div class="url-display">
		<h3>Your shortened url </h3>
		<%=link_to @target_url,redirect_path(url: @shortened_url), :target => '_blank', id: 'target-url'%>
		
	</div>
	<div class="go-home">
		<%= link_to 'Click Here To Go Back To Home', root_path %>
	</div>
</div>