/*** RESET BROWSER SYLES ***/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } 
body { font-size: 100%; color: #fff; } 
body *{ -webkit-text-size-adjust:none; } 
/*    Grouping (Clear Floats)    */ 
.group:before, .group:after, .clear-block:after { content:""; display:table; } 
.group:after, .clear-block:after { clear:both; *zoom: 1; } 
.fl { float: left; } 
.fr { float: right; } 
.center { text-align: center; margin-left: auto; margin-right: auto; }
.vertContain { position: absolute; width: 100%; height: 100%; display: table; } 
.vertAlign { display: table-cell; vertical-align: middle; } 
.vert-align { display: table-cell; vertical-align: middle; position: absolute; top: 50%; }