// Place all the styles related to the urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body { 
    height: 100%;
    width: 100%;
    padding: none;
    margin: 0 auto;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    position: relative;

}

.container {
    margin-left: 25%;
    width: 50%;
    height: 50%;
    margin-top: 10%;
}

.page-title {
    text-align: center;
    margin-top: 15%;
    font-size: 35px;
    color: #000;
}

.page-form {
    text-align: center;
    margin-top: 10%;
}

#url-input {
    width: 60%;
    height: 35px;
    border: solid 0.5px #595959;
}

#url-generate {
    width: 30%;
    height: 30px;
}

.url-display {
    text-align: center;
    margin-top: 5%;
    font-size: 25px;
    color: #000;
}

.go-home {
    text-align: center;
    margin-top: 5%;
    font-size: 15px;
    color: #000;
}

.alert {
    background: #FE0000;
}

.copy-btn {
    margin-right: 40%;
    float: right;
    margin-top: 5%;
}




