
h1,h2,h3,h4,h5, h6,p, button { font-family: 'Advent Pro', sans-serif; letter-spacing: 0.4px;}

input, select {
    color: #595959;
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
    border-radius: 0;
    
}

::-webkit-input-placeholder {
   text-align: center;
   font-family: 'Advent Pro', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
   font-family: 'Advent Pro', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
   font-family: 'Advent Pro', sans-serif;
}

:-ms-input-placeholder {  
   text-align: center; 
   font-family: 'Advent Pro', sans-serif;
}